%link#bootstrap-css{:href => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
%script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
/ ---- Include the above in your HEAD tag --------
%section#login
  .container
    %h3.omb_authTitle
      Appointment
    = form_for @Appointment do |f|
      - doctors = Doctor.all.pluck(:name)
      .input-group
        = f.select("doctor", options_for_select(doctors), {:class=> 'select2-single form-control'})
      %span.help-block
      - patients = Patient.all.pluck(:name)
      .input-group
        = f.select("patient", options_for_select(patients), {:class=> 'select2-single form-control'})
      %span.help-block
      .input-group
        = f.label "Disease"
        = f.text_field :disease, :class => "form-control"
      %span.help-block
      = f.submit "Submit", :class => "btn btn-success"
